# Compiled class files
*.class

# Log files
*.log

# IntelliJ IDEA files
.idea/
*.iml

# Eclipse files
.classpath
.project
.settings/

# Maven build directory
/target/

# Gradle build directory
/build/
.gradle/
build.gradle
gradlew
gradlew.bat
settings.gradle
gradle-wrapper.properties

# Spring Boot log files
log/
logs/

# Compiled bytecode
*.jar

# Spring Boot Application properties
application.properties
application.yml
